@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    background-color: #F2F0EF;
}
body{
    width:100vw;
    height:100vh;
    overflow-x:hidden
}
header > h1{
    text-align: center;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 1%;
    margin-bottom: 1%;
}
hr{
    margin-bottom: 0;
}
ul{
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
}
nav{
    position: absolute;
    top:3%;
    left:77%;
}
a{
    display:block;
    text-decoration: none;
    padding:5px;
    text-align:center;
    background-color: hsl(0, 0%, 40%);
    color: white;
    font-size: 11pt;
    border-radius:10%;
}
a:hover{
    background-color:hsl(0, 0%, 10%);
}
a:active{
    background-color: hsl(0, 0%, 60%);
}
li{
    float:left;
    margin-right:2px;
}
@media screen and (max-width: 800px){
    nav{
        display: none;
    }
}